<h2>{{ 'users_list'|trans }}</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>{{ 'nick'|trans }}</th>
        <th>{{ 'email'|trans }}</th>
        <th>{{ 'role'|trans }}</th>
        <th>{{ 'status'|trans }}</th>
        <th>{{ 'options'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.nickname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.status|trans }}</td>
            <td class="text-center">
                <form action="{{ path('remove_user', {id: user.id}) }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <a href="{{ path('edit_user', {id: user.id}) }}" class="btn btn-primary">{{ 'edit'|trans }}</a>
                    <button type="submit" class="btn btn-danger">{{ 'delete'|trans }}</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
